<aside id="sidebar" ng-cloak ng-class="{'collapsed': !user.authenticated}">
	<div class="command">
		<button type="button" class="btn btn-warning">New</button>
	</div>
	<nav class="nav">
		<tv-folder value="model.fileSystem.baseDir" />
				@*

		<ul>
				  <li>
					  <a href="#" class="tv-root tv-open">
						  <i class="fa fa-fw fa-folder"></i> My Documents
					  </a>
					  <tv-folder value="model.fileSystem.baseDir" />
				  </li>
			  </ul>
				*@
	</nav>
</aside>
